:root {
  --heading-font-family: "Quicksand", sans-serif;
  --text-font-family: "Quicksand", sans-serif;
  --button-font-family: "Quicksand", sans-serif;
}

/* Layout */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.game-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hidden {
  display: none;
}

.quiz-form {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}

.colour-and-answers {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-around;
}

.score-display {
  margin-top: 40px;
}

/* Text */

.heading {
  font-family: var(--heading-font-family);
  font-size: 32px;
  text-align: center;
}

.text {
  font-family: var(--text-font-family);
  font-size: 20px;
}

.question {
  font-family: var(--text-font-family);
  font-size: 20px;
}

.colour-number-text {
  font-weight: 700;
}

.score {
  font-family: var(--text-font-family);
  font-size: 24px;
  margin: 0 10px 10px 0;
  font-weight: 500;
  text-align: center;
}

.final-score {
  font-family: var(--text-font-family);
  font-weight: 500;
  margin-bottom: 40px;
}

/* Input */

input {
  margin-left: 10px;
}

.number-input {
  font-family: var(--text-font-family);
  font-size: 20px;
}

/* Random Colour Display */

.colour {
  width: 60%;
  background-color: #ffffff;
}

/* Buttons */

.btn {
  font-family: var(--button-font-family);
  height: 40px;
  width: 100px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}

.start-btn {
  margin: 10px;
  background-color: #5947ff;
  font-size: 1.5em;
}

.play-again-btn {
  color: white;
  background-color: #5947ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-link-decoration {
  text-decoration: none;
}

.answer-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 40%;
  margin-left: 10px;
}

.answer-btn {
  background-color: rgb(119, 119, 119);
  font-size: 1.25em;
  margin: 5px 0;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

@media (hover: hover) {
  .start-btn:hover,
  .play-again-btn:hover {
    box-shadow: 0px 0px 5px 3px hsl(246, 100%, 75%);
  }

  .answer-btn:hover {
    box-shadow: 0px 0px 5px 3px rgb(49, 49, 49);
  }
}

@media (orientation: landscape),
  (orientation: portrait) and (min-width: 550px) {
  .game-container {
    width: 50%;
    justify-content: center;
  }

  .colour-and-answers {
    justify-content: center;
  }

  .answer-btn-container {
    margin-left: 10px;
  }
}

@media (orientation: landscape) and (min-width: 800px) {
  .game-container {
    width: 40%;
  }
}

@media (orientation: landscape) and (min-width: 1250px) {
  .game-container {
    width: 30%;
  }
}
